@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circled-icon {
    @apply w-10 h-10 flex items-center justify-center rounded-[44.8px] border border-[#E8E8E8];
  }
}

.wrapper {
  height: 550px;
  overflow: hidden;
}

.min-half {
  min-width: 50%;
}